.list-group.explore {
  max-height: 35vh;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar {
  display: none;
}
a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.card-img-top-replacement {
  height: 2em;
}
